.c1,#para{
    text-decoration: underline dashed;
    color:  rgba(0, 255, 255,100);
    font-size: 24px;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: 700;
    font-variant: small-caps;
}

body{
    background-color: rgb(81, 118, 175);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
font-size: 200% ;
color: black;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-weight: bold;
font-variant: small-caps;
/* border-style: solid;
border-color: blueviolet;
border-width:0ex; */
border: rgb(12, 13, 58) solid 7px ;
/*border-top:green dashed 10px ;
border-bottom: ;
border-left: ;
border-right: ; 
width: 50% ;
height: 50px ; */
padding: 10px 50px;
margin: 70px 30px;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover{
    color: purple;
    font-size: 24px;
}

a:active{
    color: rgb(176, 132, 209);
    text-decoration: underline;
}

.container {
    background: blue;
    margin: 10px;
    padding: 10px;
    display: flex;
    /* display: inline flex; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-flow: row wrap;
    height: 200px;
    width: 600px;
    justify-content: end;
    align-items:center ;
}

.child1 {
    background: brown;
}

.child2 {
    background: blue;
}

.child3 {
    background: rgb(165, 42, 134);
}